[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
scipy = "*"
mypy = "*"
pytest = "*"
requests = "*"
jurigged = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python main.py"
hotrestart = "python -m jurigged -v main.py"
test = "pytest"