[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
scipy = "*"
requests = "*"
html5lib = "*"
pandas = "*"
python-dateutil = "*"
openpyxl = "*"
asyncio = "*"
selenium = "*"
requests-html = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pandas-stubs = "*"
types-beautifulsoup4 = "*"
types-requests = "*"
autopep8 = "*"
types-python-dateutil = "*"
coverage = "*"
openpyxl-stubs = "*"

[requires]
python_version = "3.10"

[scripts]
# https://stackoverflow.com/questions/65648138/how-do-i-run-two-commands-with-pipenv-scripts-using
_lint ="autopep8 ."
lint ="python autopep8 ."
start_main= "python main.py"
_start = "pipenv run start_main"
_mypy = "mypy ."
_test = "pytest -s"
_code_coverage = "coverage run --omit='test/**' -m pytest"
_code_coverage_report = "coverage html --omit='test/**' -d coverage_html"
_pre_command= "bash -c 'pipenv run _lint && pipenv run _mypy'"
test="bash -c 'pipenv run _pre_command && pipenv run _code_coverage; pipenv run _code_coverage_report'"
start="bash -c 'pipenv run _pre_command && pipenv run start_main'"
send_report_by_email = "python send_report_by_email.py"
