[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
scipy = "*"
requests = "*"
html5lib = "*"
pandas = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pandas-stubs = "*"
types-beautifulsoup4 = "*"
types-requests = "*"
autopep8 = "*"
types-python-dateutil = "*"

[requires]
python_version = "3.10"

[scripts]
lint ="autopep8 ."
start_main= "python main.py"
start = "pipenv run start_main"
start_mypy = "mypy ."
send_report_by_email = "python send_report_by_email.py"
test = "pytest -s"
